.SlideContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: top;
    height: calc(100vh - 200px);
}

.ImageContainer {
    max-height: 500px;
    min-height: 500px;
    min-width: 100%;
    vertical-align: middle;
    background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/22/10/istock-683044558.jpg");
    background-size: cover;
    filter: drop-shadow(black 1px 1px 5px);
}

.InfoContainer {
    width: fit-content;
    margin-left: 10vw;
    margin-top: 100px;
    padding: 10px;
    text-align: left;
    overflow: hidden;
}

.Title {
    font-size: 70px;
    color: white;
    background-color: rgba(52, 52, 52, 0.2);
}

.Description {
    margin: 50px 0px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(52, 52, 52, 0.2);
}

.Button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    background-color: white;
    border-color: transparent;
    border-radius: 15px;
    transition: 0.15s;
}

.Button:hover {
    transform: scale(1.05);
}

.BottomSlide {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-top: 50px;
}

.SubTitle {
    font-size: 50px;
    width: 80vw;
    max-width: 1500px;
    color: var(--sub-color);
    background-color: white;
    text-shadow: 2px 2px 3px gray;
}

.BottomInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductContainer {
    margin: 20px;
    margin-top: 50px;
    float: left;
    height: calc(20vw + 50px);
    width: 20vw;
    max-height: 400px;
    max-width: 400px;
    filter: drop-shadow(gray 1px 1px 5px);
    transition-duration: 0.15s;
    cursor: pointer;
}

.ProductContainer:hover {
    transform: scale(1.03);
    filter: drop-shadow(gray 1px 1px 10px);
}

.ProductImage {
    height: 20vw;
    width: 20vw;
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
    overflow: hidden;
}

.ProductNameContainer {
    display: flex;
    height: 45px;
    color: white;
    background-color: var(--sub-color);
}

.ProductName {
    color: white;
}