.SlideContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: top;
}

.ImageContainer {
    flex: 1;
    max-height: 500px;
    min-height: 500px;
    width: 100vw;
    transform: translateZ(0);
}

.Image {
    max-height: 500px;
    min-height: 500px;
    width: 100%;
    object-fit: cover;
}

.InfoContainer {
    flex:1;
    margin: 125px;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
}

.Title {
    font-size: 70px;
    color: white;
    background-color: rgba(52, 52, 52, 0.2);
}

.Description {
    margin: 50px 0px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(52, 52, 52, 0.2);
}

.Button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    background-color: white;
    border-color: transparent;
    border-radius: 15px;
    transition: 0.15s;
}

.Button:hover {
    transform: scale(1.05);
}

.BottomSlide {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding-top: 50px;
}

.SubTitle {
    font-size: 50px;
    width: 80vw;
    max-width: 1500px;
    color: #FD9595;
    background-color: white;
    text-shadow: 2px 2px 10px #FABBBB;
}

.BottomInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductContainer {
    margin: 20px;
    margin-top: 50px;
    float: left;
    height: calc(20vw + 50px);
    width: 20vw;
    max-height: 400px;
    max-width: 400px;
    transition-duration: 0.15s;
}

.ProductContainer:hover {
    transform: scale(1.03);
    filter: drop-shadow(gray 1px 1px 10px);
}

.ProductImage {
    height: 20vw;
    width: 20vw;
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
    overflow: hidden;
}

.ProductNameContainer {
    display: flex;
    height: 45px;
    color: white;
    background-color: #FD9595;
}

.ProductName {
    color: white;
}