.CartContainer {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    height: calc(100vh - 386px);
}

.CartBlocks {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-bottom: 75px;
    background-color: #f0f0f0;
}

.CartCenter {
    align-items: center;
    padding-top: 25px;
}

.CartLabelLeft {
    width: 90%;
    font-weight: bold;
    font-size: 120%;
    color: #868686;
    border-bottom: 2px solid #bebebe;
}

.CartRight {
    width: 500px;
    margin-left: 25px;
    border-right: none;
    background-color: color-mix(in srgb,var(--sub-color),#fff 30%);
}

.CartLabel {
    font-size: 150%;
    font-weight: bold;
    margin: 25px;
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--sub-color);
    border: 3px solid var(--sub-color);
    border-radius: 3px;
}

.Dark {
    background-color: color-mix(in srgb,var(--sub-color),#000 20%);
    border-color: color-mix(in srgb,var(--sub-color),#000 20%);
    transition: 0.15s;
}

.Dark:hover {
    transform: scale(1.01);
    filter: drop-shadow(#ffffff 1px 1px 5px);
}

.Dark:active {
    transform: scale(0.99);
}

.Itemized {
    width: auto;
    height: 75%;
    margin-left: 25px;
    margin-right: 25px;
    background-color: color-mix(in srgb,var(--sub-color),#fff 50%);;
}