:root {
    --main-color: #FF7276;
    --sub-color: #cc4448;
    --text-color: #FFFFFF;

    /*--main-color: #f38630;
    --sub-color: #fa6900;*/

    /*--main-color: #506266;
    --sub-color: #7b8f8a;*/

    /*--main-color: #b2d9f7;
    --sub-color: #487aa1;*/
}

.color {
    width: 25px;
    height: 25px;
}

.Container {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 10%;
    width: 100%;
    background-color: var(--main-color);
}

.Wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Left {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 11px;
}

.SearchContainer {
    border: .5px solid lightgray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 360px;
    height: 24px;
    margin-left: 25px;
    padding: 5px;
    background: #f2f2f2;
    transition: all .3s ease;
}

.SearchImg {
    color: #808080;
    min-width: 23px;
    font-size: 30px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Cart {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 60px;
    height: 24px;
}

.CartIco {
    width: 24px;
    height: 24px;
    transition: 0.15s;
    fill: var(--text-color);
}

.CartIco:hover {
    fill: white;
    background-color: var(--sub-color);
    border-color: var(--sub-color);
    border-radius: 5px;
    transform: scale(1.3);
    cursor: pointer;
}

.Search {
    color: black;
    font-size: 20;
    width: 340px;
    height: 24px;
    border-style: none none none solid;
    border-color: #cacaca;
    background: transparent;
}

.Right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Logo {
    font-weight: bold;
}

.Menu {
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    padding: 0px;
    display: flex;
}

.MenuLink {
    color: black;
    text-decoration: none;
}

.MenuLink:hover {
    text-decoration: underline;
}