input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ProdContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    padding-bottom: 50px;
}

.SortContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 75px;
    background-color: #f2f2f2;
}

.SortBox {
    height: 25px;
    margin-right: 3vw;
}

.FilterShelfContainer {
    width: 300px;
    height: 900px;
    margin-top: 15px;
    margin-left: 3vw;
    background-color: white;
    filter: drop-shadow(#aaaaaa 1px 5px 5px);
}

.FilterLabelContainer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    color: var(--text-color);
    background-color: var(--sub-color);
    filter: drop-shadow(#aaaaaa 1px 5px 5px);
}

.FilterLabel {

}

.FilterShelf {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 50px;
    background-color: white;
}

.FilterName {
    margin-top: 8px;
    margin-left: 10px;
}

.FilterType {
    color: rgb(61, 61, 61);
    margin-bottom: 5px;
    font-weight: bold;
}

.PriceInput {
    width: 75px;
}

.Products {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: calc(100% - 133px);
    margin-left: 3vw;
    overflow: auto;
    background-color: #f2f2f2;
}

.Products::-webkit-scrollbar {
    display: none;
}

.card {
    width: 300px;
    height: 355px;
    margin: 25px;
    margin-top: 15px;
    border: 2px solid #cecece;
    border-radius: 5px;
    filter: drop-shadow(gray 1px 1px 3px);
    cursor: pointer;
    transition: 0.15s;
}

.card:hover {
    opacity: 0.75;
    border-color: #d1d1d1;
    filter: drop-shadow(rgb(87, 87, 87) 1px 1px 10px);
}

.ProdImg {
    width: 300px;
    height: 300px;
    object-fit: contain;
    overflow: hidden;
}

.ProdInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 55px;
    background-color: var(--sub-color);
}

.anim {
    background: linear-gradient(100deg, #e0e0e0 8%, #ececec 18%, #e0e0e0 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

.animText {
    background: linear-gradient(100deg, color-mix(in srgb,var(--sub-color),#fff 70%) 8%, #ececec 18%, color-mix(in srgb,var(--sub-color),#fff 70%) 33%);
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

.opacity {
    opacity: 0.5;
}

.ProdName {

}

.ProdPrice {

}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}