.ProdContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    padding-bottom: 50px;
}

.SortContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 75px;
    background-color: #f2f2f2;
}

.SortBox {
    height: 25px;
    margin-right: 3vw;
}

.FilterShelfContainer {
    width: 300px;
    height: 900px;
    margin-left: 3vw;
    background-color: white;
}

.FilterLabelContainer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 25px;
}

.FilterLabel {

}

.FilterShelf {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 50px;
    background-color: white;
}

.FilterName {

}

.Products {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: calc(100% - 133px);
    margin-left: 3vw;
    overflow: auto;
    background-color: #f2f2f2;
}

.Products::-webkit-scrollbar {
    display: none;
}

.Product {
    width: 300px;
    height: 360px;
    margin: 25px;
    margin-top: 0px;
    border: 2px solid #a3a3a3;
    border-radius: 5px;
    filter: drop-shadow(gray 1px 1px 3px);
    cursor: pointer;
    transition: 0.15s;
}

.Product:hover {
    opacity: 0.75;
    border-color: #d1d1d1;
    filter: drop-shadow(rgb(87, 87, 87) 1px 1px 10px);
}

.ProdImg {
    width: 300px;
    height: 300px;
    object-fit: contain;
    overflow: hidden;
}

.ProdInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 55px;
    background-color: var(--sub-color);
}

.ProdName {

}

.ProdPrice {

}